body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.colonne {
    max-width: 576px;
    margin: 0 auto;

}

.box {
    display : flex;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 whitesmoke;
}

.crd {
    width: 40%;
}

.crd img {
    width: 100%;
}

.flip {
    transition: transform 0.6s;
    border-radius: 10px;
}
  
.flip.rotate {
    transform: rotateY(180deg);
}

.tapis {
    display : flex;
    justify-content: space-evenly;
}

/* ----------------- modal ----------------- */
.modal {
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}  

.modal-content {
    max-width: 576px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 whitesmoke;
}

/* -------------------------- slider ----------------------- */
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slide {
    display: flex;
    justify-content: center;
}

.slide img {
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 whitesmoke;
}



